<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mini Resto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Mini Resto Apps, Front-End Web Developer Expert Dicoding Submission">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#1d2d50">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png">
    <link rel="apple-touch-icon" href="/images/resto-icon.png">
</head>
<body>
    <header>
        <app-bar></app-bar>
    </header>
    
    <main></main>

    <footer>
        <p>Copyright @ 2020 - Mini Resto Apps</p>
    </footer>

</body>

</html>